@model IPagedList<ProjectDTO>
@{
    ViewData["Title"] = "Catalog";
    Layout = "~/Views/Shared/Layouts/_CatalogLayout.cshtml";

}
    <div class="middle-row ">

        <form asp-controller="Catalog" asp-action="CatalogPage" method="get">
            <h1>
                Projects
                <input type="submit" value="Seach" class="searchbtn">
                <input type="search" class="search" name="search" placeholder="Search..">

            </h1><br>
        </form>


       
            <div class="categories">
                <div class="categoryWidth">

                    
                    <a asp-controller="Catalog" asp-action="CatalogPage" asp-route-optionName="Front-End" type="submit" value="Front-End">Front-End</a>
                    
                    <a asp-controller="Catalog" asp-action="CatalogPage" asp-route-optionName="Back-End" type="submit" value="Back-End">Back-End </a>
                    <a asp-controller="Catalog" asp-action="CatalogPage" asp-route-optionName="Database" type="submit" value="Database">Database </a>
                    <div class="categoryRow">
                        @*<a  asp-controller="Catalog" asp-action="CatalogPage" asp-route-optionName="Web" type="submit" value="Web">Web </a>
                        <a asp-controller="Catalog" asp-action="CatalogPage" asp-route-optionName="Desktop" type="submit" value="Desktop">Desktop</a>*@
                        <a asp-controller="Catalog" asp-action="CatalogPage" asp-route-optionName="Mobile" type="submit" value="Mobile">Mobile</a>
                    </div>
                </div>
            </div>

        <div>

            <div class="top-row">

                <div class="row">
                    @foreach (var item in Model)
                    {
                        <a href="#">
                            <div class="middle-column">
                                <div class="inside-column">
                                    <a asp-controller="catalog" asp-action="project">
                                        <div class="cardBorder">
                                            <h3 class="tag">@item.ProjectName  | @item.Type  | @item.Rating</h3>
                                        </div>
                                        <div class="descriptionPadding">
                                            <p class="Description">
                                                @item.Description
                                            </p>
                                        </div>
                                        <div class="cardFoot">
                                            @foreach (var sphere in item.Sphere)
                                            {
                                                <input type="button" value="@sphere">
                                            }
                                        </div>

                                    </a>
                                </div>
                            </div>
                        </a>
                    }
                </div>

            </div>


        </div>

        @*////////////////////////////////////////////////*@
        @*<div class="pagination-row">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>*@
    </div>

        <div class="justify-content-center" style="padding-left: 300px;">
            @Html.PagedListPager(Model, page => Url.Action("CatalogPage", new { page = page }),
        new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
        {
           DisplayItemSliceAndTotal = true,
           ContainerDivClasses = new[] { "navigation" },
           LiElementClasses = new[] { "page-item" },
           PageClasses = new[] { "page-link" }
        })
        </div>
        @section Scripts{
            <script>
                $(document).ready(function () {
                    $('ul.pagination > li.disabled > a').addClass('page-link');
                });
            </script>
        }
